#about
  min-height: 100vh
  background: #252627
  color: white
  padding-top: 90px

.about-content
  text-align: center

#about-title
  font-size: 2.5em
  text-transform: uppercase

#about-subtitle
  font-size: 1.2em

#about-introduction
  font-weight: lighter

#about-introduction strong
  font-weight: bold

.about-myself
  position: relative
  margin-top: 60px
  display: flex
  text-align: left

.about-text
  width: 60%

.about-skills
  width: 40%
  display: flex

.skill-list
  margin: auto

.skill-list li
  font-size: 1.3em
  list-style-type: none
  width: 40%
  float: left
  display: inline-block
  margin-right: 30px

.skill-list i
  margin-right: 20px
