#about
  min-height: 100vh
  background: #252627
  color: white
  padding-top: 60px
  font-family: "Helvetica", "Arial", sans-serif

#about-title
  font-size: 2.5em
  text-transform: uppercase
  color: #08fdd8

.about-myself
  margin-top: 50px
  display: flex
  text-align: left

.about-text
  width: 60%

#about-description
  margin-bottom: 50px

#cv-button
  color: #08fdd8
  text-decoration: none
  background: #252627
  padding: 10px 20px 15px 20px
  box-shadow: 0.5rem 0.5rem 1rem 0.3rem rgba(0, 0, 0, 0.2)
  transition: 0.3s

#cv-button:hover
  color: #FC0B56

#cv-button:active
  box-shadow: none

.about-skills
  width: 40%
  display: flex

.skill-list
  margin: 0 auto auto auto

.skill-list li
  font-size: 1.2em
  list-style-type: none
  width: 40%
  float: left
  display: inline-block
  margin: 0 30px 20px 0

.skill-list i
  margin-right: 7px
  color: #08fdd8

@media (max-width: 1040px)
  #about-title
    padding-left: 20px

  .about-text
    margin-left: 20px

@media (max-width: 885px)
  #about-title
    font-size: 2em

  #about-subtitle
    font-size: 1em

  .about-myself
    flex-direction: column

  .about-text
    position: relative
    margin-bottom: 60px
    width: 90%
    margin-right: 40px

  .about-skills
    width: 100%

  .skill-list
    width: 100%
    margin: 0 0 0 14%

@media (max-width: 750px)
  .my-timeline
    display: none

@media (max-width: 520px)
  .skill-list
    margin: 0
    padding-left: 10px

  .skill-list li
    font-size: 1.2em
    margin: 0

@media (max-height: 800px)
  #about
    padding-top: 50px
