/* Individual item */
#Burger
  z-index: 1000

.bm-item
  display: inline-block
  text-decoration: none
  margin-bottom: 40px
  color: #08fdd8
  font-size: 1.1em
  text-transform: uppercase
  transition: color 0.3s
  outline: none

.bm-item a
  font-size: 1.4em


/* Change color on hover */
.bm-item:hover
  color: #FC0B56
  text-decoration: none


/* Position and sizing of burger button */
.bm-burger-button
  position: fixed
  width: 36px
  height: 30px
  right: 36px
  top: 16px

/* Color/shape of burger icon bars */
.bm-burger-bars
  background: #08fdd8

.bm-burger-button .bm-burger-bars
  height: 15%

/* Color/shape of close button cross */
.bm-cross
  background: #08fdd8

.bm-cross:hover
  background: #FC0B56

/* General sidebar styles */
.bm-menu
  background: #252627
  padding: 60px 1.5em
  width: 100%

#bm-menu-wrap
  height: 100px
  width: 100%

/* Wrapper for item list */
.bm-item-list
  color: #08fdd8

@media (min-width: 661px)
  #Burger
    display: none
