#projects-section
  max-width: 1024px
  min-height: 100vh
  color: white
  background: #252627
  padding-top: 90px
  display: flex
  flex-direction: column

.projects-header
  text-align: center
  margin:  100px auto

.projects-header h2
  font-size: 2.5em
  text-transform: uppercase

.projects-header p
  font-size: 1.2em

.projects-header h2
  text-transform: uppercase

.projects-content
  display: flex
  flex-direction: row
  justify-content: space-between
  position: relative

.work
  position: relative
  background: black
  flex-basis: 31.5%
  height: 35vh
  display: flex
  flex-direction: column
  justify-content: center
  text-align: center
  overflow: hidden
  box-shadow: 0 5px 10px rgba(0, 0, 0, .8)
  box-sizing: border-box

.work h5
  margin-bottom: 30px

.work::before
  content: ''
  position: absolute
  top: 10px
  right: 10px
  bottom: 10px
  left: 10px
  border-top: 1px solid #08fdd8
  border-bottom: 1px solid #08fdd8
  box-sizing: border-box
  transition: 0.5s
  transform: scaleX(0)
  opacity: 0
  z-index: 1

.work:hover::before
  transform: scaleX(1)
  opacity: 1

.work::after
  content: ''
  position: absolute
  top: 10px
  right: 10px
  bottom: 10px
  left: 10px
  border-right: 1px solid #08fdd8
  border-left: 1px solid #08fdd8
  box-sizing: border-box
  transition: 0.5s
  transform: scaleY(0)
  opacity: 0
  z-index: 1

.work:hover::after
  transform: scaleY(1)
  opacity: 1

.work .image
  position: relative

.work .image img
  width: 100%
  transition: 0.5s

.work:hover .image img
  opacity: 0.1
  transform: scale(1.2)

.work .items
  position: absolute
  width: 100%
  top: 50%
  transform: translateY(-50%)
  z-index: 2
  text-align: center
  padding: 20px

.work .items h5
  transition: 0.5s
  transform: translateY(-50px)
  opacity: 0
  visibility: hidden

.work .items p
  transition: 0.5s
  transform: translateY(50px)
  opacity: 0
  visibility: hidden
  padding-bottom: 20px

.work:hover .items h5
  opacity: 1
  visibility: visible
  transform: translateY(0px)

.work:hover .items p
  opacity: 1
  visibility: visible
  transform: translateY(0px)

.work .items h5:hover
  color: #FC0B56

#project-button
  color: #08fdd8
  text-decoration: none
  background: #252627
  padding: 5px 10px 8px 10px
  border-radius: 5px
  position: relative
  text-transform: uppercase

.work .items a
  transition: 0.5s
  opacity: 0
  visibility: hidden

.work:hover .items a
  opacity: 1
  visibility: visible

#project-button:hover
  color: black
  background: #08fdd8
